@define-color bg_glass rgba(10, 14, 10, 0.85);
@define-color fg_fog   #e0eadd;
@define-color border_mist rgba(124, 148, 115, 0.15);
@define-color accent_wood #a68a64;

* {
  font-family: "JetBrainsMono Nerd Font", "Roboto", sans-serif;
  font-size: 13px;
}

window#waybar {
  background: @bg_glass;
  border: 1px solid @border_mist;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Workspaces */
#workspaces {
  margin-top: 10px;
}

#workspaces button {
  padding: 0px 0px; 
  color: rgba(224, 234, 221, 0.3);
  font-size: 8px;
}

#workspaces button.active {
  color: @accent_wood;
  font-size: 8px;
}

#workspaces button.urgent {
  background: #8b4444;
  color: white;
  border-radius: 8px;
}

/* Center window icon */
#window {
  font-size: 16px;
  color: @accent_wood;
}

/* System icons */
#cpu, #bluetooth, #network, #wireplumber, #backlight, #battery {
  font-size: 14px;
  padding: 6px 0px;
}

#clock {
  font-size: 13px;
  font-weight: bold;
  padding: 12px 0px;
}

#custom-power {
  font-size: 16px;
  color: #8b4444;
  padding-bottom: 15px;
}